article {
  display: grid;
  grid-template-columns: 1fr 1fr 10px 740px 10px 1fr 1fr;
}

article > * {
  grid-column: 4;
}

article > h1 {
  text-align: center;
}

article > figure {
  grid-column: 1 / -1;
  margin: 20px -10;
}

article > figure > img {
  width: 100%;
}

article > blockquote {
  grid-column: 3 / 5;
  padding-left: 10px;
  color: #666;
  border-left: 3px solid black;
}
